/* Universal Styles */

html {
    font-family: Verdana, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
}

header {
    height: 64px;
}

h1 {
    font-size: 64px;
}

.my-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.header-left {
    float: left;
    height: 32px;
    display: inline-flex;
    align-items: center;
}

.header-left img {
    height: 32px;
    float: left;
}

.header-left .logo {
    color: darkgray;
    float: left;
    font-size: 24px;
}

.header-right {
    float: right;
    font-size: 18px;
}

/* Banner Section */

.banner {
    background-color: lightsteelblue;
    padding: 32px 24px;
    display: flex;
}

.banner .img-container {
    width: 60%;
    height: auto;
}

.banner img {
    width: 100%;
    object-fit: cover;
    float: left;
}

/* Banner RHS */

.banner .content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 24px;
}

.banner .content {
    float: left;
    text-align: left;
    color: midnightblue;
}

.banner h2 {
    font-size: 32px;
}

#start-button {
    color: white;
    padding: 8px 0;
    background-color:  midnightblue;
    font-size: 24px;
    text-align: center;
    width: 75%;
}

/* Information Section */

.information {
    background-color: white;
    display: flex;
}

.information .info-left {
    width: 60%;
    padding: 32px 24px;
    float: left;
}

.information .info-left img{
    width: 100%;
    object-fit: cover;
}

/* Information LHS */

.info-left .information-content {
    text-align: left;
    padding: 32px 0;
}

.information-content .info-title{
    padding-bottom: 24px;
}

.information-content .info-quote{
    padding-bottom: 24px;
}

/* Information RHS */

.information .info-right {
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 16px 0 16px 0;
}

.info-right .event-info{
    padding: 16px 16px;
    display: inline-flex;
    flex-direction: row;
}

.event-info .event-img-container {
    width: 35%;
    justify-content: center;
}

.event-img-container img{
    width: 100%;
    object-fit: cover;
}

.event-info .event-details {
    width: 65%;
    text-align: left;
    padding: 0 16px;
}

.event-details h1 {
    font-size: 48px;
    padding-bottom: 8px;
}

.event-details h2 {
    padding-bottom: 8px;
}

