/* Universal Styles */

html {
    font-family: Verdana, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
}

header {
    height: 64px;
}

.header-left {
    padding-left: 24px;
    float: left;
    height: 32px;
    display: inline-flex;
    align-items: center;
}

.header-left img {
    height: 32px;
    float: left;
}

.header-left .logo {
    color: darkgray;
    float: left;
    font-size: 24px;
}

.header-right {
    float: right;
    padding-right: 24px;
    font-size: 18px;
}

/* Banner Section */

.banner {
    background-color: lightsteelblue;
    padding: 32px 24px;
    display: flex;
}

.banner .img-container {
    width: 60%;
    height: auto;
}

.banner img {
    width: 100%;
    object-fit: cover;
    float: left;
}

.banner .content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 24px;
}

.banner .content {
    float: left;
    text-align: left;
    color: midnightblue;
}

.banner h1 {
    font-size: 64px;
}

.banner h2 {
    font-size: 32px;
}

#start-button {
    color: white;
    padding: 8px 0;
    background-color:  midnightblue;
    font-size: 24px;
    text-align: center;
    width: 75%;
}
